<% unless @customer.customer_reviews.empty? %>
    
    <% @customer.customer_reviews.each do | review |%>
      <h5>Title: <%= review.content%> </h5>
      <h7>Review: <%= review.description %> </h7><br>
      <h7>Posted on: <%= review.created_at.strftime("%Y-%m-%d") %></h7>
      <%# <p><%= customerreview.review </p> %>
      
      <hr>
    <% end %>
  
  <% end %>