<div class="index_jobs_container">
    <% @jobs.where(accepted: false).each do |job| %>
      <div class="jobs_index">
        <br>
          <h5 class="index_job_title"><%= job.title %></h5>
          <h5 class="index_job_price"><%= job.price %></h5>
          <%= link_to 'Show', show_job_path(job) %>
      </div>
      </li>
    <% end %>
</div>


