

<body>

<div class="dropdown">
  <button class="btn btn-secondary "
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Customer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="btn  my-2 my-sm-0" ><%= link_to 'login', new_customer_session_path %></a>
    <a class="btn  my-2 my-sm-0" ><%= link_to 'Sign Up', new_customer_registration_path %></a> 
  </div>

  
</div>
  <div class="dropdown">
  <button class="btn btn-secondary "
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Worker
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="btn  my-2 my-sm-0" ><%= link_to 'login', new_worker_session_path %></a>
    <a class="btn  my-2 my-sm-0" ><%= link_to 'Sign Up', new_worker_registration_path %></a>
  </div>
</div>

<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="#" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="home#index">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Speakers</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="#">Venue</a></li>
          <li><a href="#">Hotels</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Contact</a></li>
          <li class="buy-tickets"><a href="#">Buy Tickets</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="home">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Annual<br><span>Marketing</span> Conference</h1>
      <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
    
      <a href="#" class="about-btn scrollto">About The Event</a>
    </div>
  </section>

 




</body>