// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
  
//   background: #fff;
//   // color: #2f3138;
//   font-family: "Open Sans", sans-serif;
//   width: 100%;
//   margin:0;
//   color: black;
//   height:100vh;
  
// }

// p {
//   padding: 0;
//   margin: 0 0 30px 0;
//   color:white
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Raleway", sans-serif;
//   font-weight: 400;
//   margin: 0 0 20px 0;
//   padding: 0;
//   color: #0e1b4d;
// }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

// .navbar {
//   height: 80px;
//   padding: 25px 0;
//   position: fixed;
//   left: 0;
//   top: 0;
//   right: 0;
//   transition: all 0.5s;
//   z-index: 997;
//   color: rgb(0, 0, 0)
// }


.navbar-brand1 img {
  padding: 0;
  margin: 0;
  max-height: 50px;

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.navbar-nav{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.navbar-nav li {
  position: relative;
  white-space: nowrap;
}

// .nav-menu > li {
//   float: left;
// }

// .nav-menu li:hover > ul,
// .nav-menu li.sfHover > ul {
//   display: block;
// }

// .nav-menu ul ul {
//   top: 0;
//   left: 100%;
// }

// .nav-menu ul li {
//   min-width: 180px;
// }



/* Nav Meu Container */

// #nav-menu-container {
//   float: right;
//   margin: 0;
// }

/* Nav Meu Styling */

.navbar-nav a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}
// .navbar-nav p {
//   padding: 20px;
//   text-decoration: none;
//   display: inline-block;
//   color: rgba(202, 206, 221, 0.8);
//   font-family: "Raleway", sans-serif;
//   font-weight: 600;
//   font-size: 14px;
//   outline: none;
// }


.nav-item-active a{
  color: #22f87b;
}

.nav-item-active a,
.nav-item a:hover {
  color: #fff;
}

.navbar-nav > li {
  margin-left: 8px;
}

.navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #22f87b;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav a:hover:before,
.navbar-nav li:hover > a:before,
.navbar-nav .nav-item-active > a:before {
  visibility: visible;
  width: 100%;
}


.navbar-nav ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  border-radius: 3px;
}

.navbar-nav ul li {
  transition: 0.3s;
}

.navbar-nav ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.navbar-nav ul li:hover > a {
  background: #22f87b;
  color: #fff;
}

.navbar-nav ul ul {
  margin: 0;
}

// /* Mobile Nav Toggle */

// #mobile-nav-toggle {
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 999;
//   margin: 15px 15px 0 0;
//   border: 0;
//   background: none;
//   font-size: 24px;
//   display: none;
//   transition: all 0.4s;
//   outline: none;
//   cursor: pointer;
// }

// #mobile-nav-toggle i {
//   color: #fff;
// }

// /* Mobile Nav Styling */

// #mobile-nav {
//   position: fixed;
//   top: 0;
//   padding-top: 18px;
//   bottom: 0;
//   z-index: 998;
//   background: rgba(6, 12, 34, 0.9);
//   left: -260px;
//   width: 260px;
//   overflow-y: auto;
//   transition: 0.4s;
// }

// #mobile-nav ul {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// #mobile-nav ul li {
//   position: relative;
// }

// #mobile-nav ul li a {
//   color: #fff;
//   font-size: 17px;
//   overflow: hidden;
//   padding: 10px 22px 10px 15px;
//   position: relative;
//   text-decoration: none;
//   width: 100%;
//   display: block;
//   outline: none;
// }

// #mobile-nav ul li a:hover {
//   color: #22f87b;
// }

// #mobile-nav ul li li {
//   padding-left: 30px;
// }

// #mobile-nav ul .menu-has-children i {
//   position: absolute;
//   right: 0;
//   z-index: 99;
//   padding: 15px;
//   cursor: pointer;
//   color: #fff;
// }

// #mobile-nav ul .menu-has-children i.fa-chevron-up {
//   color: #22f87b;
// }

// #mobile-nav ul .menu-item-active {
//   color: #22f87b;
// }

// #mobile-body-overly {
//   width: 100%;
//   height: 100%;
//   z-index: 997;
//   top: 0;
//   left: 0;
//   position: fixed;
//   background: rgba(6, 12, 34, 0.8);
//   display: none;
// }

/* Mobile Nav body classes */

// body.mobile-nav-active {
//   overflow: hidden;
// }

// body.mobile-nav-active #mobile-nav {
//   left: 0;
// }

// body.mobile-nav-active #mobile-nav-toggle {
//   color: #fff;
// }

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-230deg, rgba(218, 211, 207, 0) 0%, rgba(0, 0, 0, 0.836)40%),url("2.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 600;
  // text-transform: uppercase;
}

#intro h1 span {
  color: #22f87b;
  text-transform: uppercase;
}

#intro p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

.brn-btn{
  display: inline-block;
}

#intro .scrollto {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  
}


#intro .scrollto.customer_btn{
  color: black;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #22f87b;
  background: #22f87b;
  text-decoration: none;
}

#intro .scrollto.customer_btn:hover {
  background: #f8f52211;
  color: #fff;
  border: 2px solid #22f87b;
}

#intro .scrollto.worker_btn{
  background: #f8f52211;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #22f87b;
  text-decoration: none;
}
#intro .scrollto.worker_btn:hover {
  color: black;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #22f87b;
  background: #22f87b;
}

#intro .scrollto1:hover  {
  background: #f8f52211;
  color: #fff;
  border: 2px solid #22f87b;
}

@-webkit-keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/


// @media (min-width: 1024px) {
//   #intro {
//     background-attachment: fixed;
//   }
// }

// @media (max-width: 1199px) {
//   #header .container {
//     max-width: 100%;
//   }

//   .nav-menu a {
//     padding: 8px 4px;
//   }
// }

// @media (max-width: 991px) {
//   #header {
//     background: rgba(6, 12, 34, 0.98);
//     height: 70px;
//     padding: 15px 0;
//     transition: all 0.5s;
//   }

//   #nav-menu-container {
//     display: none;
//   }

//   #mobile-nav-toggle {
//     display: inline;
//   }

//   #intro .intro-container {
//     top: 70px;
//   }

//   #intro h1 {
//     font-size: 34px;
//   }

//   #intro p {
//     font-size: 16px;
//   }
// }
