.create-new-job{
  background: linear-gradient(-50deg, rgba(41, 40, 39, 0.13) 0%, rgba(0, 0, 0, 0.753)40%),url("https://s3-ap-southeast-2.amazonaws.com/helping-hand-project/36.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color:white;
  
  #data-enter{
    background: linear-gradient(-230deg, rgba(218, 211, 207, 0) 0%, rgba(0, 0, 0, 0.582)40%);
  

  
  .contact{
		padding: 4%;
		height: 400px;
	}
	.col-md-3{
    background: linear-gradient(-230deg, rgba(218, 211, 207, 0) 0%, rgba(0, 0, 0, 0)80%);
		// background: -webkit-linear-gradient(-250deg, #4d614b, #22f87b);
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
    // background: 
		// background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
  }
}