

.job-show-page{
  background:linear-gradient(-230deg, rgba(15, 15, 15, 0.575) 0%, rgba(27, 29, 27, 0.808)80%),url(https://wallpapertag.com/wallpaper/full/c/a/a/157415-simplistic-wallpapers-1920x1080-lockscreen.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
 

  
  .job-show-page h1,h4,h2,p{
    color:white;
    padding:0 50px 0 0;

    
    
    }
   .put-in{
    background-color:rgba(13,13,13,0.2);
    min-height:300px;
    padding: 20px 25px 25px 25px;
    box-shadow: -10px -10px 9px #33cc33;
    // min-width: 800px;
    }

    
    .left-right{
      display:flex;
      flex-direction: row
     
    }
    


    .job_owner{
      padding: 0 35px;

    }
    .job_owner a{ 
      color:white;
    }
    .left-entry p{
      padding: 0 0 0 35px;
    }

    .right-entry{
      
      display:flex;
      flex-direction: column;
      justify-content: center
      // width:50%;
    //   padding:30px;
    //   margin:0 10px;
    }
    .job_accepted_status a, .price h1{
      color:white;
    }
    .price h2,h1{
      
      padding:0 50px 0 0;
    }

    
    
    .back a{
      color:white;
      float:left;
    }
    .leave-review, .accept-job{
      display: flex;
      justify-content: flex-end;
    }
    .leave-review a, .accept-job a{
      border: none;
      border-radius: 1.5rem;
      padding: 1% 5%;
      width: 70%;
      background: -webkit-linear-gradient(-250deg, #4d614b, #22f87b);
      font-weight: bold;
      color: #383d41;
  
      margin-bottom: 1%;
      cursor: pointer;
      text-align: center
    }
}