
.index_jobs_container{
  background: linear-gradient(-50deg, rgba(41, 40, 39, 0.13) 0%, rgba(0, 0, 0, 0.753)40%),url("https://s3-ap-southeast-2.amazonaws.com/helping-hand-project/36.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  overflow-y: scroll;

.jobs_index {
  border: 1px #0efa8cd0 solid;
  background-color: #121312bd;
  color: rgb(204, 202, 202);
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 15px;
  text-align: center;
  
}
.jobs_index a{
  color: #22f87b;
  align-self: end;
}
}