.worker-profile{
  background-color: black;
  padding-bottom: 0;
  .register{
  
  background: -webkit-linear-gradient(-250deg, #4d614b, #22f87b);
  padding: 3%}

  
  .btn-sm{
    background: transparent;
    text-decoration: none;
    font-weight: 700; 
  }
 
  .register-left{
  text-align: center;
  color: #fff;
  margin-top: 0%;
  }

  .register-left .link{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;

  }
  .register-left .link a{
    border: none;
    border-radius: 1.5rem;
    padding: 3% 7%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 4%;
    margin-left: 15%;
    margin-bottom: 3%;
    cursor: pointer;
  }
  .about-me:hover, .exp:hover{
  color: white;
  cursor: pointer;
  }
  .register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    background: -webkit-linear-gradient(left, #f3f7f2, #edf3efe8);
    padding: 10% 50% 0% 50%
  }
  .register-right h4{
    margin-bottom: 0;
  }
  .link1{
    display: flex;
    justify-content: flex-end;
  }
  .link1 a{
    border: none;
    border-radius: 1.5rem;
    padding: 1% 5%;
    width: 30%;
    background: -webkit-linear-gradient(-250deg, #4d614b, #22f87b);
    font-weight: bold;
    color: #383d41;

    margin-bottom: 1%;
    cursor: pointer;
    text-align: center
  }
  .link2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .link2 .btn-primary{
    border: none;
    border-radius: 1.5rem;
    padding: 1% 5%;
    width: 40%;
    background: -webkit-linear-gradient(-250deg, #7c8b7a, #22f87b);
    font-weight: bold;
    color: #383d41;
    margin-bottom: 1%;
    cursor: pointer;
    text-align: center
  }

  .list-group-item-action1{background: -webkit-linear-gradient(left, #f3f7f2, #edf3efe8) }
  .review .list-group-item-action1 h6{
    border-bottom:1px solid #4ccc25;
    padding-bottom: 10px
  }
  .list-group-item-action .mb-1{
    border-bottom:1px solid #4ccc25;
    padding-bottom: 10px
  }
  .modal-header{
    background: -webkit-linear-gradient(-250deg, #7e8b7c, #22f87b);
  }
  #show-botton{
    display: inline-block;
    float: right;
    
  }
  #show-botton a{
    color: #40af31;
  }
  .btn-secondary1 {
    color: black;
    border: none;
    border-radius: 1.2rem;
    padding: 1% 5%;
    width: 25%;
    background: -webkit-linear-gradient(-250deg, #7e8b7c, #22f87b);
    // font-weight: bold;
    color: #383d41;
    margin-bottom: 1%;
    // cursor: pointer;
    text-align: center
  }
  .register-left img{
    margin-top: 0;
    margin-bottom: 5%;
    width: 50%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  .register-left p{
    font-weight: lighter;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    color:black
  }
  .register-left h5{
    
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
  }
  h5.exp{
    margin-bottom: 20px;
  }

  .register-right{
    display: flex;
    flex-direction: column;
    padding: 50px;




  }

  .register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
  }
}