.worker-profile{
 height: 100vh;
 width: 100%;
.left-div{
  height:100%;
  width: 100%;
  img{
    margin: 50px 80px;
  }
  .left-text{
    margin-left: 20px;
  }
}

.right-div{
  height:100%;
  width: 100%;
  padding:0

}

.top-right-div{
  height:35%;
  width: 100%;
  background-image: linear-gradient(-230deg, rgba(218, 211, 207, 0) 0%, rgba(0, 0, 0, 0.836)40%),url("5.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
 
  img{
  
    background-repeat: no-repeat;
    
    position:center;
    position:relative;
  }
}

.bottom-right-div{
  height:65%;
  width: 100%;

  .carousel-item{
    height: 300px !important;
  }
}


}
